
.container #team{
    overflow-y: hidden;
}

.a1{
    padding-left: 25px;
    text-shadow: 4px 4px 4px gray;
}

#about{
    padding: 50px;
    min-height: 625px;
    height: 100vh;
}

#us{
    text-align: center;
    min-height: 400px;
    height: 65vh;
    top: 100px;
}

#para{
    font-size: 60px;
}

.image_about_us{
    left: -100%;
}

.p1{
    object-fit: contain;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}

.slide-up{
    font-size: 18px;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}

@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.slide-up{
    right: -100%;
}

@media (max-width: 1050px){
    #para{
        font-size: 40px;
    }
}

@media (max-width: 767px){
    .a1{
        padding-left: 70px;
    }
    #about{
        padding-left: 10px;
        margin-left: 0;
        padding-right: 10px;
        margin-right: 0;
    }
    #us{
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
    }
    #us .col-12:first-child{
        height: 40vh;
    }
    #us .col-12:first-child img{
        height: 90%;
    }
    #us .col-12:last-child{
        text-align: left;
        font-size: 15px;
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
    }
}

@media (max-width: 400px){
    #us .col-12:last-child{
        font-size: 14px;
    }
}
