.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
}
   
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
    opacity: 0;
}
   
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.carousel{
    top: 50px;
}

#start{
    color: orange;
    z-index: 2000;
    position: fixed;
    top: 90vh;
    left: 92vw;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

#start:hover{
    font-size: 35px;
    color: coral;
}

@media (max-width: 768px){
    .carousel-inner{
        height: 100vh;
    }

    .carousel-inner img{
        min-height: calc(100vh - 50px);
    }

    #start{
        left: 85vw;
    }
}


