
.container-fluid #team{
    overflow-y: hidden;
}

.container-fluid #name .a1{
    text-shadow: 4px 4px 4px gray;
}

.container-fluid #us .col-6{
    text-align: center;
    top: 100px;
}

#about{
    padding: 50px;
}

#para{
    font-size: 60px;
}

.image_about_us{
    left: -100%;
}

.p1{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}

.slide-up{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}

@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.slide-up{
    right: -100%;
}

@media (max-width: 1050px){
    #para{
        font-size: 40px;
    }

    .image_about_us, .slide-up{
        transform: translateY(-20%);
    }
}

@media (max-width: 768px){
    html, body {
        overflow-x: hidden;
    }
    #about{
        font-size: small;
        height: 100vh;
        width: 400px;
        left: 0;
    }

    .image_about_us, .slide-up{
        transform: none;
    }
}
