body{
  font-family: montserrat;
}

nav{
  z-index: 1004;
  position: fixed;
  background: url(https://images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg);
  height: 50px;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

html, body{
  overflow-x: hidden;
}


nav label.logo{
  color: white;
  font-size: xx-large;
  line-height: 50px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  z-index: 1004;
  list-style: none;
  float: right;
  margin-right: 20px;
  overflow: hidden;
}

nav ul li{
  z-index: 1004;
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  position: relative;
  text-decoration: none !important;
  font-size: 17px;
  padding: 6px 11px;
  border-radius: 3px;
  text-transform: uppercase;
}

:root {
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

nav ul a.active,nav ul a:hover{
  font-weight: 20;
  font-style: italic;
  color: #fff;
  padding: 11px 12px 10px;
  border: 3px solid #fff;
  border-radius: 12px;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
}
}

nav ul a.active::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

nav ul a.active::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

nav ul a.active:focus {
  outline: none;
}

@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}



nav .checkbutton{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

nav #check{
  display: none;
}

@media (max-width: 1200px){
  nav label.logo{
    font-size: 25px;
    padding-left: 10px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 1025px){
  nav .checkbutton{
    display: block;
  }
  nav ul{
    z-index: 1004;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url(https://images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg);
    top: 50px;
    left: -100%;
    text-align: center;
    transition: left .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  nav a:hover,nav a.active{
    background: none;
    color: greenyellow;
  }
  nav #check:checked ~ ul{
    left: 0;
  }
}

@media (max-width: 374px){
  nav label.logo{
    font-size: large;
  }
}


/*Scss compiled for top arrows*/


.container_arrows {
  z-index: 1;
  position: relative;
  /* left: 10vw; */
  top: -10vh;
  cursor: pointer;
  margin: 0;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

/* .ar {
  top: 90vh;
}

.ar1 {
  top: 190vh;
}

.ar3 {
  top: 295vh;
} */

.content-ar {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content-ar p {
  margin: 0 0 20px;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: rgb(8, 8, 8);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

polygon {
  fill: rgb(5, 5, 5);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}

/*arrow ends*/

