@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

.side {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.side .sidebar {
  z-index: 1001;
  position: fixed;
  top: 50px;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.side .sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.side .sidebar ul a{
  display: block;
  text-decoration: none !important;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
.side ul li:hover a{
  padding-left: 50px;
}
.side .sidebar ul a i{
  margin-right: 16px;
}
.side #checkSide{
  position: absolute;
  top: 0;
  display: none;
}
.side label #btnSide,label #cancelSide{
  position: fixed;
  border-radius: 3px;
  cursor: pointer;
}
.side label #btnSide{
  z-index: 1001;
  position: fixed;
  left: 20px;
  top: 70px;
  font-size: 35px;
  background: #0082e6;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
.side label #cancelSide{
  z-index: 1002;
  left: -195px;
  top: 70px;
  font-size: 30px;
  background: #042331;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}

.side #checkSide:checked ~ .sidebar{
  left: 0;
}
.side #checkSide:checked ~ label #btnSide{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
.side #checkSide:checked ~ label #cancelSide{
  left: 195px;
}
.side #checkSide:checked ~ section{
  margin-left: 250px;
}