@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

#team{
    height: 100vh;
}

.a3{
    padding: 50px;
    text-shadow: 4px 4px 4px gray;
}

#our {
    font-family: 'Fire Sans', sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.blog-card{
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    background: white;
    border-radius: 25px;
    box-shadow: 0 10px 50px rgba(252, 56, 56, .9);
}

.blog-card .inner-part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    height: 360px;
    position: absolute;
}

#tapImg:checked ~ .inner-part{
    padding: 0;
    transition: .1s ease-in;
}

.inner-part .image{
    height: 240px;
    width: 200px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252, 56, 56, .2);
}

#tapImg:checked ~ .inner-part .image {
    height: 370px;
    width: 850px;
    margin-top: 15px;
    transition: .3s .2s ease-in;
}

#tapImg:checked ~ .inner-part .img-1{
    object-fit: contain;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: 0.6s;
}

#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3,
#tap-4:checked ~ .inner-part .img-4,
#tap-5:checked ~ .inner-part .img-5{
    opacity: 1;
    transition-delay: 0.2s;
}


.content{
    padding: 0 20px 0 35px;
    width: 530px;
    opacity: 0;
    transition: .6s;
}

#tapImg:checked ~ .inner-part .content{
    display: none;
}

#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3,
#tap-4:checked ~ .inner-part .content-4,
#tap-5:checked ~ .inner-part .content-5{
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
}

.content span{
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.content .title1{
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.content .text{
    font-size: 19px;
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
}

.content button{
    display: inline-flex;
    z-index: 1000;
    padding: 15px 20px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 1px solid #fd3535;
    cursor: pointer;
    outline: none;
    background: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
}

.content button:hover{
    background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}

.sliders{
    z-index: 1000;
    position: absolute;
    bottom: 25px;
    left: 60%;
    transform: translateX(-50%);
}

#tapImg:checked ~ .sliders{
    display: none;
}

.sliders .tap{
    position: relative;
    height: 10px;
    width: 40px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

.sliders .tap::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: linear-gradient(147deg, #f6b323 0%, #f23b26 74%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
}

/*.sliders .tap:hover:before{
    transform: scaleX(1);
    width: 100%;
}*/

#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before,
#tap-4:checked ~ .sliders .tap-4:before,
#tap-5:checked ~ .sliders .tap-5:before{
    transform: scaleX(1);
    width: 100%;
}

.i1, .i2{
    display: none;
}

.text{
    height: 55px;
    width:500px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}

#our #hide{
    position: absolute;
    display: none;
    z-index: 1001;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    background: white;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 10px 50px rgba(252, 56, 56, .9);
    padding: 3% 0;
}

#back{
    float: right;
    transform: translateX(-10px);
    font-size: 18px;
    background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
    color: #fff0e6;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 1px solid #fd3535;
    cursor: pointer;
    outline: none;
}

#back:hover{
    background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}

@media (max-width: 850px){
    #team{
        height: 1000px;
    }

    .blog-card{
        margin-top: calc(40px + 20%);
        height: 650px;
        width: 95%;
        max-width: 600px;
    }

    #our #hide{
        height: 650px;
        width: 95%;
        max-width: 600px;
        align-items: center;
        vertical-align: middle;
    }

    .blog-card .inner-part{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        text-align: center;
    }

    .inner-part .image{
        margin-top: 45px;
        margin-left: 150px;
    }

    .sliders{
        left: 50%;
    }

    .sliders .tap{
        width: 30px;
    }

    #tapImg:checked ~ .inner-part .image {
        height: 650px;
        width: 600px;
        margin-left: 0;
        transform: translateY(-0.6em);
        z-index: 1000;
        margin-top: 10px;
        background-position: -100px -100px;
        transition: .3s .2s ease-in;
    }

    #tapImg:checked ~ .inner-part .img-1{
        object-fit: cover;
    }
}

@media (max-width: 768px){
    .blog-card{
        margin-top: calc(40px + 10%);
    }
}

@media (max-width: 731px){
    .blog-card{
        margin-top: 30%;
    }
}

@media (max-width: 700px) {
    html, body {
        overflow-x: hidden;
    }
    #team{
        height: 1000px;
        width: 96%;
        margin-left: 2%;
    }
    .blog-card{
        margin-top: 30%;
        height: 600px;
        width: 95%;
        width: 380px;
    }

    #our #hide{
        height: 600px;
        width: 95%;
        width: 380px;
        font-size: small;
    }

    .inner-part .content{
        padding-left: 25px;
        width: 350px;
    }

    .text{
        width: 300px;
        white-space: nowrap;
        overflow-wrap: break-word;
    }

    .title1, .content{
        transform: translateX(-4%);
    }

    .blog-card .inner-part{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 0;
        align-items: center;
    }

    .inner-part .image{
        margin-top: 45px;
        margin-left: 30%;
        height: 180px;
        width: 150px;
        overflow: hidden;
    }

    #tapImg:checked ~ .inner-part .image {
        height: 600px;
        width: 380px;
        margin-left: 0;
        transform: translateY(-0.6em);
        z-index: 1000;
        transition: .3s .2s ease-in;
    }

    .sliders{
        width: 60%;
        left: 55%;
    }

    .sliders .tap{
        width: 24px;
    }
}

@media(max-width: 500px){
    .blog-card{
        margin-top: 30%;
    }
}

@media(max-width: 400px){
    .blog-card{
        width: 95%;
        max-width: 350px;
    }
    #our #hide{
        width: 95%;
        max-width: 350px;
    }
    #tapImg:checked ~ .inner-part .image{
        width: 350px;
    }
}

@media(max-width: 350px){
    .blog-card{
        left: 2%;
        width: 95%;
        max-width: 330px;
    }
    #our #hide{
        width: 95%;
        max-width: 330px;
    }
    .text{
        width: 250px;
    }
}