.head{
    background-color: black;
    color: white;
    height: 50px;
    z-index: 1000;
    width: 50vw;
}

.heading{
    border: solid white;
    font-weight: 500;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

.add_user{
    width: 50vw;
    box-shadow: 0 10px 25px rgba(252, 167, 56, 0.979);
}